<!doctype html>
<html lang="en">
<head>
    <title>500 | GitHub Bot Insights</title>

    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.2/css/bootstrap.min.css"
        integrity="sha512-CpIKUSyh9QX2+zSdfGP+eWLx23C8Dj9/XmHjZY2uDtfkdLGo0uY12jgcnkX9vXOgYajEKb/jiw67EYm+kBf+6g=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
    />
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
    />

    <link rel="stylesheet" href="/css/global.css">
</head>
<body class="bg-dark">
    <div class="container">
        <main class="d-flex justify-content-center align-items-center text-light" style="height: 100vh">
            <div class="text-center">
                <i class="fa-solid fa-exclamation-triangle fa-2xl"></i>
                <br>
                <br>
                <strong>An unexpected error occurred while fetching data.</strong>
                <br>
                <small>Please <a href="">try again</a> later.</small>
            </div>
        </main>
    </div>
</body>
</html>
